html {
    font-family: 'Trebuchet MS';
}

h1 {
    color: darkslateblue;
    text-align: center;
}

h2 {
    color:cornflowerblue;
}

h3 {
    color:darkturquoise;
}

img {
    box-shadow: 2px 2px dimgray;
}