html {
    font-family: 'Trebuchet MS';
    text-align: center;
    align-self: center;
    align-items: center;
    display: block;
}

h1 {
    color: darkslateblue;
    text-align: center;
}

h2 {
    color:cornflowerblue;
}

h3 {
    color:darkturquoise;
}

img {
    box-shadow: 2px 2px 1px dimgray;
}

.newClass {
    color:black;
    text-align: center;
    display: block;
}

#proj1 {
    text-align: center;
    color: black;
}