body {
    background-color: #f2f2f2;
}

#navBar {
    background-color: black;
    border-radius: .5em;
}

#navDrop {
    background-color: black;
}

#dropButton {
    color: grey;
    font-weight: bolder;
    font-size: 1.1em;
}

#navbarDropdown {
    color: gray;
}

.headText {
    color: white;
}

.navbar-toggler-icon {
    align-self: end;
}